
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #01411cb9, #0091509a, white);

  }
.table-data {
    width: 80%; /* Ensure table takes full width */
    margin-left: 10%;
    border-collapse: collapse; /* Merge cell borders */
  }
  
  .table-data th,
  .table-data td {
    padding: 10px; /* Add padding between cells */
    border: 1px solid black; /* Add border for visualization */
  }
  
  h5{
    color: #01411c;
  }

  .table-data th{
    color:#01411c ;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .table-data td{
    font-family:'Times New Roman', Times, serif;
    /* font-weight: bold; */
  }

  .btnedit{
    background-color:orange ;
    border: 1px solid orangered;
  }

  .btndelete{
    background-color:darkred ;
    border: 1px solid darkred;
    color: antiquewhite;
  }

  .btncreate{
    background-color:darkgreen ;
    border: 1px solid darkgreen;
    color: antiquewhite;
  }